.c1{
    background-color:yellow ;
    text-align: center;
    font-size: 50px;
}
.p1{
   font-size: 30px;
   background-color: red;
}
nav{
    background-color:green ;
} 
 li{
    display: inline;
    border: 1px;
    margin: 150px;
    font-size: 20px;
 }
.d1{
  position: relative;
  left: 25px;
  top: 15px;
}
 .i1{
   height: 350px;
   width: 250px;
   background-color: aqua;
 }
  .i1p1{
   text-align: center;
  }
  .i1p2{
   text-align: center;
  }
.d2{
  position: relative;
  left: 15px;
  top: 15px;
}
 .i2{
   height: 320px;
   width: 250px;
   background-color: aqua;
 }
  .i2p1{
   text-align: center;
  }
  .i2p2{
   text-align: center;
  }
  
.d3{
  position: relative;
  left: 25px;
  top: 15px;
}
 .i3{
   height: 350px;
   width: 250px;
   background-color: aqua;
 }
  .i3p1{
   text-align: center;
  }
  .i3p2{
   text-align: center;
  }
.d4{
  position: relative;
  left: 25px;
  top: 15px;
}
 .i4{
   height: 400px;
   width: 250px;
   background-color: aqua;
 }
  .i4p1{
   text-align: center;
  }
  .i4p2{
   text-align: center;
  }
.d5{
  position: relative;
  left: 25px;
  top: 15px;
}
 .i5{
   height: 350px;
   width: 250px;
   background-color: aqua;
 }
  .i5p1{
   text-align: center;
  }
  .i5p2{
   text-align: center;
  }
.d6{
  position: relative;
  left: 25px;
  top: 15px;
}
 .i6{
   height: 350px;
   width: 250px;
   background-color: aqua;
 }
  .i6p1{
   text-align: center;
  }
  .i6p2{
   text-align: center;
  }
.d7{
  position: relative;
  left: 25px;
  top: 15px;
}
 .i7{
   height: 350px;
   width: 250px;
   background-color: aqua;
 }
  .i7p1{
   text-align: center;
  }
  .i7p2{
   text-align: center;
  }
.d8{
  position: relative;
  left: 25px;
  top: 15px;
}
 .i8{
   height: 350px;
   width: 250px;
   background-color: aqua;
 }
  .i8p1{
   text-align: center;
  }
  .i8p2{
   text-align: center;
  }
.d9{
  position: relative;
  left: 25px;
  top: 15px;
}
 .i9{
   height: 350px;
   width: 250px;
   background-color: aqua;
 }
  .i9p1{
   text-align: center;
  }
  .i9p2{
   text-align: center;
  }
.d10{
  position: relative;
  left: 15px;
  top: 15px;
}
 .i10{
   height: 350px;
   width: 250px;
   background-color: aqua;
 }
  .i10p1{
   text-align: center;
  }
  .i10p2{
   text-align: center;
  }
  .c3{
   background-color: aquamarine;
  }